# Конфіденційні дані
config.json
config/database.db
config/words.json
config/voice_channels.json
config/tickets.json
data/*

# Python
__pycache__/
*.py[cod]
*$py.class

# Віртуальне середовище
venv/
env/
ENV/

# IDE
.vscode/
.idea/ 