# Конфіденційні дані
config.json
config/roles.db
config/users.db
config/level_image.png
lavalink_config.json

# Python
__pycache__/
*.py[cod]
*$py.class

# Віртуальне середовище
venv/
env/
ENV/

# IDE
.vscode/
.idea/ 